@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
	--text-color: #667085;
	--main-color: #8E2424;
	--title-color: #101828;
	--borda: #EAECF0;
	--fonte: 'Inter', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fonte);
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
  }

body {
	max-width: 1360px;
  }

header {
	max-width: 1360px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 112px;
	gap: 8px;
}

.logo p {
	font-weight: 500;
	font-size: 1.8rem;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

.links a {
	font-size: 1.6rem;
	color: var(--text-color);
	text-decoration: none;
	margin-right: 2rem;
}

button {
	padding: 0.8rem 1rem;
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	background: none;
	color: var(--text-color);
	font-size: 1.6rem;
}

button#signUp {
	background-color: var(--main-color);
	color: #ffffff;
	padding: 10px 18px;
}

.container__sobre-nos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 70px 0;
}

#item__sobre-nos--titulo {
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--main-color);
	margin-bottom: 25px;
}

.container__sobre-nos h1 {
	font-size: 4.8rem;
	font-weight: 600;
	color: var(--title-color);
	margin-bottom: 35px;
}

.container__sobre-nos p {
	font-size: 2rem;
	color: var(--text-color);
	text-align: center;
	line-height: 3rem;
	padding: 0 200px;
}

.container__metricas {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 3rem;
	padding: 0 80px;
	margin-bottom: 100px;
}

.container__metricas h2 {
	font-size: 6rem;
	font-weight: 600;
	color: var(--main-color);
	margin-bottom: 12px;
}

.item__metricas--titulo {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--title-color);
	margin-bottom: 8px;
}

.item__metricas--p {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--text-color);
}

.container__talentos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 112px;
	gap: 20px;
}

.item__talentos--titulo {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--main-color);
	background: rgba(142, 36, 36, 0.05);
	border-radius: 1.6rem;
	padding: 4px 12px;
}

.container__talentos h2 {
	font-size: 3.6rem;
	font-weight: 600;
	color: var(--title-color);
}

.item__talentos--p {
	font-size: 2rem;
	font-weight: 400;
	color: var(--text-color);
	margin-bottom: 64px;
}

.container__talentos img {
	width: 100%;
}

.container__vagas-abertas {
	display: block;
	max-width: 50%;
	margin: 0 auto;
	margin-top: 64px;
}

.area-principal {
	font-size: 2rem;
	font-weight: 500;
	color: var(--title-color);
	margin-top: 20px;
}

.vaga {
	display: block;
	margin-top: 32px;
	margin-bottom: 24px;
	padding: 24px;
	border: 2px var(--borda) solid;
	border-radius: 16px;
}

.vaga__titulo {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--title-color);
	margin-bottom: 32px;
}

.vaga__info {
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--text-color);
	margin-right: 24px;
}

.container__depoimentos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(196, 25, 25, 0.03);
	border-radius: 16px;
	padding: 64px;
	margin: 95px 112px;
}

.container__depoimentos > span {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--main-color);
	margin-bottom: 16px;
}

.depoimentos__titulo {
	font-size: 3.6rem;
	font-weight: 500;
	color: var(--title-color);
	text-align: center;
	margin-bottom: 32px;
}

.container__depoimentos > img {
	margin-bottom: 16px;
}

.depoimentos__nome {
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--title-color);
	margin-bottom: 4px;
}

.depoimentos__cargo {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color)
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 96px 0px;
	gap: 32px;
	background: #F9FAFB;
}

footer > h2 {
	font-size: 3.6rem;
	font-weight: 600;
	color: var(--title-color);
}

footer > p {
	font-size: 2rem;
	font-weight: 400;
	color: var(--text-color);
}

footer > form {
	display: flex;
	justify-content: space-between;
}

footer input {
	outline: none;
	border: 1px #D0D5DD solid;
	border-radius: 0.5rem;
	padding-left: 1rem;
	width: 280px;
	margin-right: 1rem;
}

footer button {
	background: var(--main-color);
	border: 1px solid var(--main-color);
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	color: white;
	padding: 12px 20px;
}

footer > span {
	font-size: 1.6rem;
	font-weight: 400;
	color: #98A2B3;
}